
  
  .productCard {
    float: left;
    width: 33.333%;
    padding: .75rem;
    margin-bottom: 2rem;
    border: 0;
  }
  
  .productCard > img {
    margin-bottom: .75rem;
  }
  
  .productCard .card-text {
    font-size: 85%;
  }
