<% include partial/html_head.ejs %>
<link href="css/checkout_form.css" rel="stylesheet">
</head>

<body>
    <% include partial/navbar.ejs %>

    <div class="container-fluid">

    <div class="container">
      <div class="py-5 text-center">
        <h2>Cart anda masih kosong.</h2>
        </br></br>
        <button class="btn btn-secondary" type="button" onclick="javascript:history.go(-1)">Back</button>
      </div>

    </div>


    </div>

    <% include partial/libs_location.ejs %>
    <% include partial/script_changeActiveNavbar.ejs %>

</body>
</html>